Repository dandanXO/frontier_platform_frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: platform-build, platform-deploy, storybook-build, storybook-deploy

.gitlab-ci.yml:

stages:
  - build
  - deploy

.platform:
  only:
    refs:
      - main
      - /^hotfix\/.*$/
      - /^release\/.*$/
      - develop
    changes:
      - packages/**/*
      - projects/platform/**/*
  before_script:
    - >
      if [[ "$CI_COMMIT_REF_NAME" == "main" ]]; then
        TARGET_ENV="production"
      elif [[ "$CI_COMMIT_REF_NAME" =~ "hotfix/" ]]; then
        TARGET_ENV="pre-production"
      elif [[ "$CI_COMMIT_REF_NAME" =~ "release/" ]]; then
        TARGET_ENV="staging"
      elif [[ "$CI_COMMIT_REF_NAME" == "develop" ]]; then
        TARGET_ENV="development"
      fi

platform-build:
  extends: .platform
  stage: build
  image: node:16.13.2
  script:
    - echo $TARGET_ENV
    - npm install -g pnpm
    - pnpm i
    - cd ./projects/platform
    - npm run build --mode=$TARGET_ENV
  artifacts:
    paths:
      - projects/platform/dist/

platform-deploy:
  extends: .platform
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo $TARGET_ENV
    - cd ./projects/platform
    - bash ./scripts/deploy.sh $TARGET_ENV

storybook-build:
  stage: build
  image: node:16.13.2
  only:
    changes:
      - packages/ui-component/**/*
  script:
    - npm install -g pnpm
    - pnpm i
    - cd ./packages/ui-component
    - npm run build
  artifacts:
    paths:
      - packages/ui-component/storybook-static/

storybook-deploy:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  only:
    changes:
      - packages/ui-component/**/*
  script:
    - cd ./packages/ui-component
    - bash ./deploy.sh

feat/F22-1647-aviod-create-sticker-when-drawer-open-from-notification
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

feat/F22-1564-view-material-detail
  packages/ui-component/src/FTooltip/FTooltip.vue
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/components/sticker/ModalStickerMaterialDetail.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1639-1641-set-the-crop-area-by-moving-crop-box-and-scale-proportionally
  pnpm-lock.yaml
  projects/platform/package.json
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/PerspectiveCanvas.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/PerspectiveCropper.vue
  projects/platform/src/composables/usePerspectiveCropper.ts
  projects/platform/src/composables/usePreview.ts
  projects/platform/src/locales/zh-TW.json
  projects/platform/src/main.js
  projects/platform/src/types/index.ts
  projects/platform/src/utils/perspectiveCropper.ts
Due: platform-build, platform-deploy

fix/F22-1752-scanned-image-cropper-submit-button-disabled-before-image-load
  projects/platform/src/components/assets/edit/ModalEditScannedImage.vue
Due: platform-build, platform-deploy

feat/F22-1838-sticker-housekeeping
  .vscode/settings.json
  projects/platform/src/apis/index.js
  projects/platform/src/components/sidebar/SidebarItem.vue
  projects/platform/src/components/sticker/DigitalThreadCard.vue
  projects/platform/src/components/sticker/StickerCreate.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/store/modules/sticker/index.js
  projects/platform/src/store/reuseModules/material.js
  projects/platform/src/views/embed/Embed.vue
  projects/platform/src/views/innerApp/PublicLibrary.vue
  projects/platform/src/views/innerApp/ShareToMe.vue
  projects/platform/src/views/innerApp/Workspace.vue
  projects/platform/src/views/innerApp/assets/Assets.vue
  projects/platform/src/views/receivedShare/ReceivedShareCollection.vue
Due: platform-build, platform-deploy

feat/F22-1853-distinguish-custom-and-default-options
  packages/ui-component/src/FInput/FInputChips/FInputChips.stories.js
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  projects/platform/src/components/assets/edit/BlockMaterialAdditionalInfo.vue
  projects/platform/src/composables/useMaterialEdit.js
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1788-download-3d-material-file-should-decode-the-filename
  projects/platform/src/utils/fileOperator.js
Due: platform-build, platform-deploy

fix(E2E): prevent test.info cause global-setup failed
  projects/e2e-tests/src/domain/org.ts
Due: none

fix(E2E): signUpApi should await response
  projects/e2e-tests/src/domain/auth.ts
Due: none

chore(E2E): upgrade playwright package to make VSCode playwright extension works properly
  pnpm-lock.yaml
  projects/e2e-tests/package.json
Due: none

test(auth, group): add signupSourceType in request body for F22-1559
  projects/e2e-tests/src/domain/auth.ts
  projects/e2e-tests/src/domain/org.ts
Due: none

chore/F22-1865-update-i18n
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

chore/F22-1865-update-i18n
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

refactor/F22-1866-rename-components
  packages/ui-component/src/FContextualMenu/FContextualMenu.vue
  packages/ui-component/src/FInput/FInputTextOld/FInputTextOld.stories.js
  packages/ui-component/src/FInput/FInputTextOld/FInputTextOld.vue
  packages/ui-component/src/FInput/FInputTextOld/calendar.png
  packages/ui-component/src/FInput/FSelectDropdown/FSelectDropdown.stories.js
  packages/ui-component/src/FInput/FSelectDropdown/FSelectDropdown.vue
  packages/ui-component/src/FInput/FSelectInput/FSelectInput.stories.js
  packages/ui-component/src/FInput/FSelectInput/FSelectInput.vue
  packages/ui-component/src/FInput/useInputOld.js
  projects/platform/src/components/assets/ModalMaterialEditSimplePublicPrice.vue
  projects/platform/src/components/assets/ModalMaterialEditSimpleSpec.vue
  projects/platform/src/components/assets/ModalMaterialEditSimpleTag.vue
  projects/platform/src/components/assets/edit/BlockMaterialAdditionalInfo.vue
  projects/platform/src/components/assets/edit/BlockMaterialInformation.vue
  projects/platform/src/components/assets/edit/BlockMaterialPricing.vue
  projects/platform/src/components/billings/ModalEditBillingInfo.vue
  projects/platform/src/components/common/ModalChangeLocale.vue
  projects/platform/src/components/common/ModalChooseSavePlace.vue
  projects/platform/src/components/common/ModalCloneTo.vue
  projects/platform/src/components/common/ModalSendFeedback.vue
  projects/platform/src/components/common/filter/FilterContent.vue
  projects/platform/src/components/lobby/ModalCreateOrg.vue
  projects/platform/src/components/management/ModalChooseStorage.vue
  projects/platform/src/components/management/OrgAbout.vue
  projects/platform/src/components/moodboard/MoodBoardComment.vue
  projects/platform/src/components/receivedShare/ModalChooseStickerAddFrom.vue
  projects/platform/src/components/sticker/ReceivedShareStickerDrawerForLogin.vue
  projects/platform/src/components/sticker/StickerCreate.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/StickerTagInput.vue
  projects/platform/src/views/innerApp/Management.vue
  projects/platform/src/views/innerApp/Progress.vue
  projects/platform/src/views/innerApp/assets/AssetsMaterialCreate.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1841-update-input-label-color-style
  packages/ui-component/src/FInput/useInput.js
  projects/platform/src/components/management/InputLabelColor.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1886-an-error-occurred-when-the-thread-topic-input-was-not-filled-and-saved
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

fix/F22-1890-redundant-symbols-appear-before-the-item-number
  projects/platform/src/components/sticker/DigitalThreadCard.vue
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/ModalStickerDetail.vue
  projects/platform/src/components/sticker/ReceivedShareStickerDrawerForLogin.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

fix/F22-1914-thread-order-should-be-new-to-old
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

fix/F22-1889-after-clicking-the-add-button-the-second-sticker-does-not-appear
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

fix/F22-1887-new-sticker-notify-will-still-exist-after-closing-the-drawer
  projects/platform/src/apis/sticker.js
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

fix/F22-1960-incorrect-info-of-item-displayed-on-sticker-detail-and-thread-summary
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/ModalStickerDetail.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

fix/F22-1907-sticker-filter-show-number-of-starred-stickers
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

F22/fix-1894-1895-1936-star-and-tag-count-not-updated-in-digital-thread-list-after-user-stared-sticker-or-edited-sticker-tag
  projects/platform/src/components/sticker/DigitalThreadCard.vue
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

fix/F22-1937-digital-thread-created-from-should-not-include-material-number
  projects/platform/src/components/assets/RowItemImg.vue
  projects/platform/src/components/common/gridItem/GridItemNode.vue
  projects/platform/src/components/common/material/detail/MaterialDetailExternalHeader.vue
  projects/platform/src/components/common/material/detail/MaterialDetailInternalHeader.vue
  projects/platform/src/components/moodboard/MoodboardDetailLowerBlockDemander.vue
  projects/platform/src/components/moodboard/MoodboardDetailLowerBlockProvider.vue
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/ModalStickerDetail.vue
  projects/platform/src/composables/useAddFromLocationListDisplay.js
  projects/platform/src/views/innerApp/assets/Assets.vue
Due: platform-build, platform-deploy

fix/F22-1891-add-sticker-from-empty-thread-slogan
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

fix/F22-1908-sticker-details-session-spacing
  projects/platform/src/components/sticker/ModalStickerDetail.vue
Due: platform-build, platform-deploy

fix/F22-1917-digital-thread-and-sticker-incorrect-wording-for-deleted-material
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/ModalStickerDetail.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

fix/F22-1912-digital-thread-rename-icon-should-only-display-when-hover-header
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

feat/F22-1692-TEPP-showroom
  .vscode/settings.json
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
  projects/platform/src/apis/titas.js
  projects/platform/src/assets/images/titas_announcement_banner.png
  projects/platform/src/assets/images/titas_public_banner.png
  projects/platform/src/assets/images/titas_showroom_banner.png
  projects/platform/src/assets/images/titas_sidebar_callout.png
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/components/sidebar/Sidebar.vue
  projects/platform/src/components/titas/ModalTitasContactForm.vue
  projects/platform/src/composables/useNavigation.js
  projects/platform/src/router/index.js
  projects/platform/src/store/index.js
  projects/platform/src/store/modules/titas/index.js
  projects/platform/src/views/innerApp/InnerAppLayout.vue
  projects/platform/src/views/innerApp/TitasShowroom.vue
  projects/platform/src/views/innerApp/TitasShowroomMaterialDetail.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1796-update-showroom-path-name
  projects/platform/src/views/innerApp/TitasShowroomMaterialDetail.vue
Due: platform-build, platform-deploy

feat/F22-1903-showroom-announcement
  projects/platform/src/apis/showroom.js
  projects/platform/src/components/showroom/ModalShowroomAnnouncement.vue
  projects/platform/src/router/index.js
  projects/platform/src/store/index.js
  projects/platform/src/store/modules/polling/index.js
  projects/platform/src/store/modules/showroom/index.js
  projects/platform/src/utils/constants.ts
  projects/platform/src/utils/generateContentComponent.ts
Due: platform-build, platform-deploy

feat/F22-1775-update-annoucement-banner
  projects/platform/src/assets/images/titas_announcement_banner.png
Due: platform-build, platform-deploy

feat/F22-1868-banner-and-showroom-list
  package.json
  pnpm-lock.yaml
  projects/platform/src/apis/showroom.js
  projects/platform/src/components/common/SearchTable.vue
  projects/platform/src/components/showroom/ModalShowroomAnnouncement.vue
  projects/platform/src/components/showroom/ShowroomCarousel.vue
  projects/platform/src/components/sidebar/Sidebar.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
  projects/platform/src/router/index.js
  projects/platform/src/store/modules/showroom/index.js
  projects/platform/src/utils/constants.ts
  projects/platform/src/utils/generateContentComponent.ts
  projects/platform/src/views/innerApp/InnerAppLayout.vue
  projects/platform/src/views/innerApp/PublicLibrary.vue
  projects/platform/src/views/innerApp/ShareToMe.vue
  projects/platform/src/views/innerApp/TitasShowroom.vue
  projects/platform/src/views/innerApp/Workspace.vue
Due: platform-build, platform-deploy

feat/F22-1781-update-ui-showroom
  projects/platform/src/assets/images/titas_public_banner.png
  projects/platform/src/components/sidebar/Sidebar.vue
  projects/platform/src/components/titas/ModalTitasContactForm.vue
  projects/platform/src/views/innerApp/InnerAppLayout.vue
  projects/platform/src/views/innerApp/PublicLibrary.vue
  projects/platform/src/views/innerApp/TitasShowroom.vue
Due: platform-build, platform-deploy

fix/F22-1797-showroom-contact-form
  projects/platform/src/components/titas/ModalTitasContactForm.vue
Due: platform-build, platform-deploy

feat/F22-1929-showroom-collection
  .vscode/settings.json
  packages/ui-component/src/FInput/FInputTextarea/FInputTextarea.vue
  projects/platform/src/apis/showroom.js
  projects/platform/src/apis/titas.js
  projects/platform/src/assets/images/titas_announcement_banner.png
  projects/platform/src/assets/images/titas_public_banner.png
  projects/platform/src/assets/images/titas_showroom_banner.png
  projects/platform/src/assets/images/titas_sidebar_callout.png
  projects/platform/src/components/common/SearchTable.vue
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/components/showroom/ModalShowroomAnnouncement.vue
  projects/platform/src/components/showroom/ModalShowroomContactForm.vue
  projects/platform/src/components/showroom/ShowroomCarousel.vue
  projects/platform/src/composables/useDashboard.ts
  projects/platform/src/composables/useNavigation.js
  projects/platform/src/router/index.js
  projects/platform/src/store/index.js
  projects/platform/src/store/modules/showroom/index.js
  projects/platform/src/store/modules/titas/index.js
  projects/platform/src/views/innerApp/PublicLibrary.vue
  projects/platform/src/views/innerApp/Showroom.vue
  projects/platform/src/views/innerApp/ShowroomMaterialDetail.vue
  projects/platform/src/views/innerApp/TitasShowroom.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1795-3d-viewer-cannot-be-opened-at-2023-exhibition-showroom
  projects/platform/src/composables/useDashboard.ts
Due: platform-build, platform-deploy

feat/F22-1920-contextual-menu-i18n
  projects/platform/src/composables/useMaterialEdit.js
Due: platform-build, platform-deploy
