Repository dandanXO/frontier_platform_frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: platform-build, platform-deploy, storybook-build, storybook-deploy

.gitlab-ci.yml:

stages:
  - build
  - deploy

.platform:
  only:
    refs:
      - main
      - /^hotfix\/.*$/
      - /^release\/.*$/
      - develop
    changes:
      - packages/**/*
      - projects/platform/**/*
  before_script:
    - >
      if [[ "$CI_COMMIT_REF_NAME" == "main" ]]; then
        TARGET_ENV="production"
      elif [[ "$CI_COMMIT_REF_NAME" =~ "hotfix/" ]]; then
        TARGET_ENV="pre-production"
      elif [[ "$CI_COMMIT_REF_NAME" =~ "release/" ]]; then
        TARGET_ENV="staging"
      elif [[ "$CI_COMMIT_REF_NAME" == "develop" ]]; then
        TARGET_ENV="development"
      fi

platform-build:
  extends: .platform
  stage: build
  image: node:16.13.2
  script:
    - echo $TARGET_ENV
    - npm install -g pnpm
    - pnpm i
    - cd ./projects/platform
    - npm run build --mode=$TARGET_ENV
  artifacts:
    paths:
      - projects/platform/dist/

platform-deploy:
  extends: .platform
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo $TARGET_ENV
    - cd ./projects/platform
    - bash ./scripts/deploy.sh $TARGET_ENV

storybook-build:
  stage: build
  image: node:16.13.2
  only:
    changes:
      - packages/ui-component/**/*
  script:
    - npm install -g pnpm
    - pnpm i
    - cd ./packages/ui-component
    - npm run build
  artifacts:
    paths:
      - packages/ui-component/storybook-static/

storybook-deploy:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  only:
    changes:
      - packages/ui-component/**/*
  script:
    - cd ./packages/ui-component
    - bash ./deploy.sh

refactor/F22-1552-common-component-tags
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  packages/ui-component/src/FLabel/FLabel.stories.js
  packages/ui-component/src/FLabel/FLabel.vue
  packages/ui-component/src/FTag/FTag.stories.js
  packages/ui-component/src/FTag/FTag.vue
  projects/platform/src/components/billings/NotifyBarBuffer.vue
  projects/platform/src/components/billings/NotifyBarInactive.vue
  projects/platform/src/components/billings/ValueAddedServiceMade2flow.vue
  projects/platform/src/components/common/SearchBox.vue
  projects/platform/src/components/common/material/detail/MaterialDetailExternal.vue
  projects/platform/src/components/common/material/detail/MaterialDetailInternal.vue
  projects/platform/src/views/innerApp/Progress.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1604-update-select-org-group
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
  packages/ui-component/src/FInput/FInputSelect/FInputSelect.vue
  projects/platform/src/views/innerApp/Management.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1605-sortBy-tooltip
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
  packages/ui-component/src/FContextualMenu/FContextualMenu.vue
  projects/platform/src/components/common/SearchTable.vue
  projects/platform/src/views/innerApp/assets/Assets.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1624-input-text-empty-value
  packages/ui-component/src/FInput/FInputText/FInputText.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1547-common-componet-avatar
  packages/ui-component/src/FAvatar/FAvatar.stories.js
  packages/ui-component/src/FAvatar/FAvatar.vue
  packages/ui-component/src/FAvatar/default_org.png
  packages/ui-component/src/FAvatar/default_user.png
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1622-common-component-avatar-group
  packages/tailwindcss/index.js
  packages/ui-component/src/FAvatar/FAvatar.vue
  packages/ui-component/src/FAvatarGroup/FAvatarGroup.stories.js
  packages/ui-component/src/FAvatarGroup/FAvatarGroup.vue
  projects/platform/src/components/account/ModalOrgUserProfile.vue
  projects/platform/src/components/common/ModalUploadThumbnail.vue
  projects/platform/src/components/management/MemberList.vue
  projects/platform/src/components/management/OrgAbout.vue
  projects/platform/src/components/sidebar/MenuOrg.vue
  projects/platform/src/components/sidebar/MenuOrgUser.vue
  projects/platform/src/components/workspace/ModalShare.vue
  projects/platform/src/utils/print.js
  projects/platform/src/views/innerApp/Lobby.vue
  projects/platform/src/views/innerApp/PublicLibrary.vue
  projects/platform/src/views/receivedShare/ReceivedShareContainer.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1622-lobby-member-list
  packages/ui-component/src/FAvatarGroup/FAvatarGroup.vue
  projects/platform/src/views/innerApp/Lobby.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1635-FInputChips-insertBefore
  packages/ui-component/package.json
  packages/ui-component/src/FContextualMenu/FContextualMenu.vue
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  pnpm-lock.yaml
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1645-layout-issue-in-safari
  projects/platform/src/components/assets/edit/ModalChangeCover.vue
Due: platform-build, platform-deploy

fix/F22-1620-wrong-avatar-in-print-page
  projects/platform/src/utils/print.js
Due: platform-build, platform-deploy

fix/F22-1649-input-text-chinese
  packages/ui-component/src/FInput/FInputText/FInputText.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1572-3d-viewer-rwd
  pnpm-lock.yaml
  projects/3d-viewer/package.json
  projects/3d-viewer/src/components/EditorHeader.vue
  projects/3d-viewer/src/components/EditorSidebar.vue
  projects/3d-viewer/src/components/MobileModelControlBar.vue
  projects/3d-viewer/src/components/MobileTextureControlBar.vue
  projects/3d-viewer/src/components/ModelEditor.vue
  projects/3d-viewer/src/components/ModelTextureTapStatus.vue
  projects/3d-viewer/src/components/sidebar/EditorSidebar.vue
  projects/3d-viewer/src/components/sidebar/HiddenSidebar.vue
  projects/3d-viewer/src/components/sidebar/ToggleExpandButton.vue
  projects/3d-viewer/src/composables/useBreakpoints.ts
  projects/3d-viewer/src/composables/useScene.ts
Due: none

fix/F22-1655-3d-viewer-texture-display-ratio-incorrect-after-perspective-crop
  projects/3d-viewer/src/composables/useModels.ts
Due: none

fix/F22-1656-contextual-menu-incorrect-background-color
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

Fix/f22 1657 input slider incorrect background color in light mode
  packages/ui-component/src/FInput/FInputRange/FInputRange.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1653-3d-viewer-sidebar-apply-custom-scrollbar
  projects/3d-viewer/src/components/EditorHeader.vue
  projects/3d-viewer/src/components/ModelEditor.vue
  projects/3d-viewer/src/components/sidebar/EditorSidebar.vue
  projects/3d-viewer/src/components/sidebar/HiddenSidebar.vue
Due: none

fix/F22-1663-contextual-menu-incorrect-expand-direction-cause-user-cant-logout
  packages/ui-component/src/FContextualMenu/FContextualMenu.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1667-create-material-image-display-type-select-input-incorrect-options
  packages/ui-component/src/FInput/FInputSelect/FInputSelect.vue
  packages/ui-component/src/FInput/useInput.js
  projects/platform/src/views/innerApp/assets/AssetsMaterialCreate.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1602-1658-update-icon-for-downloading-3d-material-and-fix-clear-button-display
  packages/ui-component/src/FSvgIcon/icons/3D_viewer.svg
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1686-3d-viewer-shortcut-block-asset-edit-input-space
  projects/platform/src/components/assets/progress/ProgressU3m.vue
  projects/platform/src/composables/useModelEditor.ts
Due: platform-build, platform-deploy

fix/F22-1688-incorrect-bgcolor-when-change-org-logo
  projects/platform/src/components/common/cropper/ImageCropArea.vue
Due: platform-build, platform-deploy

feat/F22-1695-update-perspective-crop-i18n
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

fix/F22-1675-perspective-transformation-ui-issue
  projects/platform/src/components/assets/modalU3mRecut/ModalU3mRecutHeader.vue
  projects/platform/src/components/assets/modalU3mRecut/U3mRecutStepper.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/ZoomInputSelect.vue
  projects/platform/src/composables/usePerspectiveCropper.ts
Due: platform-build, platform-deploy

fix/F22-1681-an-error-occurs-when-setting-groups-upload-account
  projects/platform/src/components/account/ModalChangePassword.vue
  projects/platform/src/components/account/ModalForgotPasswordCode.vue
  projects/platform/src/components/account/PasswordValidator.vue
  projects/platform/src/components/lobby/ModalCreateMailOrg.vue
  projects/platform/src/components/management/ModalCreateMailGroup.vue
Due: platform-build, platform-deploy

fix/F22-1705-use-the-perspective-transformation-crop-result-will-show-the-back-side
  projects/platform/src/components/assets/modalU3mRecut/ModalU3mRecut.vue
Due: platform-build, platform-deploy

feat/F22-1587-dashboard-data-collection
  projects/platform/index.html
  projects/platform/src/apis/dashboard.ts
  projects/platform/src/apis/receivedShare.js
  projects/platform/src/components/assets/edit/BlockMaterialU3mStatus.vue
  projects/platform/src/components/assets/progress/ProgressU3m.vue
  projects/platform/src/components/common/material/detail/MaterialDetailExternalU3mStatus.vue
  projects/platform/src/components/common/material/detail/MaterialDetailInternalU3mStatus.vue
  projects/platform/src/components/common/material/u3m/MaterialU3mFiles.vue
  projects/platform/src/components/common/material/u3m/ModalU3mDownloadConfirm.vue
  projects/platform/src/components/common/material/u3m/ModalU3mSelectFileFormat.vue
  projects/platform/src/composables/useDashboard.ts
  projects/platform/src/composables/useModelEditor.ts
  projects/platform/src/router/index.js
  projects/platform/src/store/index.js
  projects/platform/src/store/modules/dashboard/index.js
  projects/platform/src/store/modules/receivedShare/index.js
  projects/platform/src/types/index.ts
Due: platform-build, platform-deploy

fix/F22-1675-perspective-grid-color-input-incorrect-offset
  packages/ui-component/src/FPopper/FPopper.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/InputGridColor.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1706-input-validation
  projects/platform/src/components/assets/edit/BlockMaterialImage.vue
  projects/platform/src/components/lobby/ModalCreateMailOrg.vue
  projects/platform/src/components/lobby/ModalCreateOrg.vue
  projects/platform/src/components/management/GroupAbout.vue
  projects/platform/src/components/management/ModalCreateGroup.vue
  projects/platform/src/components/management/ModalCreateMailGroup.vue
  projects/platform/src/components/management/OrgAbout.vue
  projects/platform/src/components/workspace/ModalCreateCollectionSimple.vue
  projects/platform/src/utils/inputRules.js
  projects/platform/src/views/SignUp.vue
Due: platform-build, platform-deploy

fix/F22-1666-qrcode-word-wrap
  projects/platform/src/utils/print.js
Due: platform-build, platform-deploy

fix/F22-1727-grid-item-material-text-overflow
  projects/platform/src/components/common/gridItem/GridItemMaterial.vue
Due: platform-build, platform-deploy

fix/F22-1625-view-progress-button-not-work
  projects/platform/src/composables/useNavigation.js
Due: platform-build, platform-deploy

fix/F22-1713-when-images-do-not-appear-at-the-same-time-the-images-cannot-share-the-scale-size
  projects/platform/src/components/assets/edit/ModalEditScannedImage.vue
  projects/platform/src/components/common/cropper/CroppedImage.vue
  projects/platform/src/components/common/cropper/ImageCropArea.vue
Due: platform-build, platform-deploy

fix/F22-1731-crop-range-doesnt-match-the-preview-displayed
  pnpm-lock.yaml
  projects/platform/package.json
  projects/platform/src/components/assets/edit/ModalEditScannedImage.vue
  projects/platform/src/components/assets/modalU3mRecut/ModalU3mRecut.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/DimensionInfo.vue
  projects/platform/src/components/common/material/u3m/MaterialU3mFiles.vue
  projects/platform/src/composables/usePerspectiveCropper.ts
  projects/platform/src/utils/cropper.ts
  projects/platform/src/utils/perspectiveCropper.ts
Due: platform-build, platform-deploy

fix/F22-1744-error-occurs-when-clear-create-group-org-modal-email-input-when-language-is-zh-tw
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

fix/F22-1746-input-text-button-text-overflow
  packages/ui-component/src/FInput/FInputText/FInputText.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1696-record-the-previous-editing-result-edit-cover-image
  projects/platform/src/components/assets/edit/ModalChangeCover.vue
  projects/platform/src/components/common/cropper/ModalCropImage.vue
  projects/platform/src/utils/cropper.ts
Due: platform-build, platform-deploy

feat/F22-1634-add-the-rule-of-perspective-crop-size
  packages/ui-component/src/FButton/FButton.stories.js
  packages/ui-component/src/FButton/FButton.vue
  projects/platform/src/components/assets/modalU3mRecut/ModalU3mRecut.vue
  projects/platform/src/components/assets/modalU3mRecut/ModalU3mRecutHeader.vue
  projects/platform/src/components/assets/modalU3mRecut/ModalU3mRecutSwitchControlBar.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/NotifyBar.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/PerspectiveCropper.vue
  projects/platform/src/composables/usePerspectiveCropper.ts
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy, storybook-build, storybook-deploy
