Repository dandanXO/frontier_platform_frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: platform-build, platform-deploy, storybook-build, storybook-deploy

platform-build:
  before_script:
  ...

platform-deploy:
  before_script:
  ...

storybook-build:
  stage: build
  image: node:16.13.2
  script:
  - npm install -g pnpm
  - pnpm i
  - cd ./packages/ui-component
  - npm run build
  artifacts:
    paths:
    - packages/ui-component/storybook-static/

storybook-deploy:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
  - cd ./packages/ui-component
  - bash ./deploy.sh

feat/F22-1769-share-page-trend-board
  packages/ui-component/src/FExpansionPanel/FExpansionPanel.vue
  projects/platform/src/views/embed/Embed.vue
  projects/platform/src/views/receivedShare/ReceivedShareCollection.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1732-prevent-invalid-perspective-crop-position
  projects/platform/src/components/assets/edit/ModalEditScannedImage.vue
  projects/platform/src/components/assets/modalU3mRecut/ModalU3mRecut.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/DimensionInfo.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/PerspectiveCropper.vue
  projects/platform/src/composables/usePerspectiveCropper.ts
  projects/platform/src/types/index.ts
  projects/platform/src/utils/cropper.ts
  projects/platform/src/utils/perspectiveCropper.ts
Due: platform-build, platform-deploy

fix/F22-1782-trend-board-cannot-be-deleted
  projects/platform/src/components/workspace/ModalCreateOrEditCollection.vue
Due: platform-build, platform-deploy

fix/F22-1791-modal-cover-scale-record-incorrect
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/PerspectiveCropper.vue
  projects/platform/src/components/common/cropper/ModalCropImage.vue
  projects/platform/src/utils/cropper.ts
Due: platform-build, platform-deploy

fix/F22-1790-share-page-default-behavior
  projects/platform/src/views/embed/Embed.vue
  projects/platform/src/views/receivedShare/ReceivedShareCollection.vue
Due: platform-build, platform-deploy

fix/F22-1789-clone
  projects/platform/src/components/common/ModalCloneTo.vue
Due: platform-build, platform-deploy

fix/F22-1787-print-qr-code
  projects/platform/src/utils/print.js
Due: platform-build, platform-deploy

fix/F22-1800-reset-node-list-each-time
  projects/platform/src/components/workspace/ModalWorkspaceNodeList.vue
Due: platform-build, platform-deploy

fix/F22-1660-input-chips-contextual-menu-position
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  packages/ui-component/src/FPopper/FPopper.vue
  packages/ui-component/src/FTable/FTable.vue
  projects/platform/src/components/assets/edit/BlockMaterialU3mStatus.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/InputGridColor.vue
  projects/platform/src/components/common/filter/FilterWrapper.vue
  projects/platform/src/components/common/material/detail/MaterialDetailExternalU3mStatus.vue
  projects/platform/src/components/common/material/detail/MaterialDetailInternalU3mStatus.vue
  projects/platform/src/components/sidebar/MenuOrg.vue
  projects/platform/src/composables/useMaterialEdit.js
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1662-adjust-input-components-border-color
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  packages/ui-component/src/FInput/FInputSelect/FInputSelect.vue
  packages/ui-component/src/FInput/FInputText/FInputText.vue
  packages/ui-component/src/FInput/FInputTextarea/FInputTextarea.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1636-input-components-shadow-border
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  packages/ui-component/src/FInput/FInputSelect/FInputSelect.vue
  packages/ui-component/src/FInput/FInputText/FInputText.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1671-input-chips-default-state
  packages/ui-component/src/FContextualMenu/FContextualMenu.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1673-safari-contextual-menu-click-event
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
  packages/ui-component/src/FTooltip/FTooltip.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1825-input-components-disabled-color-and-input-textarea-typing-issue
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  packages/ui-component/src/FInput/FInputText/FInputText.vue
  packages/ui-component/src/FInput/FInputTextarea/FInputTextarea.vue
  projects/platform/src/components/moodboard/MoodBoardComment.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1826-reset-asset-list-each-time
  projects/platform/src/components/assets/ModalAssetsList.vue
Due: platform-build, platform-deploy

fix/F22-1671-input-chips-default-state
  packages/ui-component/src/FContextualMenu/FContextualMenu.vue
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  projects/platform/src/components/assets/edit/BlockMaterialInformation.vue
  projects/platform/src/composables/useMaterialEdit.js
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix/F22-1638-perspective-crop-bottom-editing-tool-style
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/CanvasControl.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/DimensionInfo.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/Divider.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/InfoDivider.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/InfoName.vue
  projects/platform/src/components/assets/modalU3mRecut/perspectiveCropper/PerspectiveCropper.vue
Due: platform-build, platform-deploy

fix/F22-1837-notification-bg-color
  projects/platform/src/components/sidebar/MenuOrg.vue
Due: platform-build, platform-deploy

feat/F22-1548-3d-viewer-prevent-moire-effect
  projects/3d-viewer/src/components/ModelEditor.vue
  projects/3d-viewer/src/components/sidebar/EditorSidebar.vue
  projects/3d-viewer/src/composables/useColors.ts
  projects/3d-viewer/src/composables/useModels.ts
Due: none

feat/F22-1661-update-tag-style-in-input-chips
  packages/ui-component/src/FInput/FInputChips/FInputChips.stories.js
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1792-add-offical-web-link-on-the-footer
  projects/platform/src/views/embed/EmbedContainer.vue
  projects/platform/src/views/receivedShare/ReceivedShareContainer.vue
Due: platform-build, platform-deploy

feat/F22-1799-remove-iniviation-hint-for-enterprise-plan
  projects/platform/src/components/management/ModalInviteToOrg.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

fix/F22-1799-update-i18n
  projects/platform/src/apis/publicLibrary.js
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
  projects/platform/src/store/modules/publicLibrary/index.js
Due: platform-build, platform-deploy

feat/F22-1316-digital-thread-entrance
  projects/platform/src/components/common/gridItem/GridItemMaterial.vue
  projects/platform/src/components/common/gridItem/GridItemNode.vue
  projects/platform/src/components/common/gridItem/GridItemWrapper.vue
  projects/platform/src/components/common/material/detail/MaterialDetailExternalHeader.vue
  projects/platform/src/components/common/material/detail/MaterialDetailInternalHeader.vue
  projects/platform/src/components/sticker/DigitalThreadEntrance.vue
  projects/platform/src/locales/zh-TW.json
  projects/platform/src/store/reuseModules/collection.js
  projects/platform/src/store/reuseModules/material.js
  projects/platform/src/views/embed/Embed.vue
  projects/platform/src/views/innerApp/PublicLibraryMaterialDetail.vue
  projects/platform/src/views/innerApp/ShareToMeMaterialDetail.vue
  projects/platform/src/views/innerApp/Workspace.vue
  projects/platform/src/views/innerApp/WorkspaceMaterialDetail.vue
  projects/platform/src/views/innerApp/assets/Assets.vue
  projects/platform/src/views/innerApp/assets/AssetsMaterialDetail.vue
  projects/platform/src/views/receivedShare/ReceivedShareCollection.vue
  projects/platform/src/views/receivedShare/ReceivedShareMaterial.vue
Due: platform-build, platform-deploy

feat/F22-1334-add-remove-tag
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  projects/platform/src/apis/sticker.js
  projects/platform/src/components/sticker/ChildStickerCard.vue
  projects/platform/src/components/sticker/DigitalThreadCard.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerCreate.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/StickerTagInput.vue
  projects/platform/src/components/sticker/StickerTagList.vue
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1332-star-sticker
  .vscode/settings.json
  projects/platform/src/apis/sticker.js
  projects/platform/src/components/sticker/ChildStickerCard.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerHeaderIcon.vue
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

feat/F22-1324-add-child-sticker
  projects/platform/src/apis/sticker.js
  projects/platform/src/components/sticker/ChildStickerCard.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/stickerTextEditor/ChildStickerTextEditor.vue
  projects/platform/src/components/sticker/stickerTextEditor/ChildStickerTextViewer.vue
  projects/platform/src/components/sticker/stickerTextEditor/StickerTextEditor.vue
  projects/platform/src/components/sticker/stickerTextEditor/StickerTextViewer.vue
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

feat/F22-1346 & F22-1338
  projects/platform/src/apis/sticker.js
  projects/platform/src/components/sticker/DigitalThreadCard.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

feat/F22-1342-filter-in-thread
  packages/tailwindcss/index.js
  packages/ui-component/src/FContextualMenu/FContextualMenu.stories.js
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  projects/platform/src/components/management/MemberList.vue
  projects/platform/src/components/management/ModalAddToGroup.vue
  projects/platform/src/components/sticker/ChildStickerCard.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/StickerTagList.vue
  projects/platform/src/components/workspace/ModalCreateOrEditCollection.vue
  projects/platform/src/components/workspace/ModalPublish.vue
  projects/platform/src/components/workspace/ModalShareAssigned.vue
  projects/platform/src/store/modules/embed/index.js
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/F22-1560-received-share-sticker
  projects/platform/src/apis/organization.js
  projects/platform/src/apis/user.js
  projects/platform/src/components/common/FullScreenHeader.vue
  projects/platform/src/components/common/ModalChooseSavePlace.vue
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/components/lobby/ModalCreateOrg.vue
  projects/platform/src/components/receivedShare/ModalChooseStickerAddFrom.vue
  projects/platform/src/components/sticker/DigitalThreadEntrance.vue
  projects/platform/src/components/sticker/ReceivedShareStickerDrawerForLogin.vue
  projects/platform/src/composables/useNavigation.js
  projects/platform/src/composables/useReceivedShare.js
  projects/platform/src/router/index.js
  projects/platform/src/store/modules/management/organization/index.js
  projects/platform/src/store/modules/receivedShare/index.js
  projects/platform/src/store/modules/sticker/index.js
  projects/platform/src/store/modules/user/index.js
  projects/platform/src/utils/constants.ts
  projects/platform/src/utils/remind-verify-email.js
  projects/platform/src/views/SignUp.vue
  projects/platform/src/views/innerApp/Lobby.vue
  projects/platform/src/views/receivedShare/ReceivedShareContainer.vue
Due: platform-build, platform-deploy

feat/F22-1448-sticker-notification
  packages/tailwindcss/index.js
  projects/platform/src/apis/index.js
  projects/platform/src/apis/sticker.js
  projects/platform/src/components/common/modal/Modal.vue
  projects/platform/src/components/common/modal/ModalLoading.vue
  projects/platform/src/components/sidebar/MenuOrg.vue
  projects/platform/src/components/sticker/DigitalThreadCard.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/StickerHeaderIcon.vue
  projects/platform/src/store/modules/polling/index.js
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

feat/F22-1344-status-delete-no-access
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/ModalStickerDetail.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/store/modules/polling/index.js
Due: platform-build, platform-deploy

feat/F22-1340-digital-thread-summary
  packages/tailwindcss/index.css
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/components/global/ModalBehavior.vue
  projects/platform/src/components/sticker/DigitalThreadEntrance.vue
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/store/modules/sticker/index.js
  projects/platform/src/utils/constants.ts
Due: platform-build, platform-deploy

feat/F22-1629-close-drawer
  projects/platform/src/components/sticker/StickerDrawer.vue
Due: platform-build, platform-deploy

feat/F22-1336-sticker-detail
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/components/sticker/ChildStickerCard.vue
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/ModalStickerDetail.vue
  projects/platform/src/components/sticker/StickerCard.vue
Due: platform-build, platform-deploy

feat/F22-1318-mention-member
  projects/platform/src/components/assets/RowItemImg.vue
  projects/platform/src/components/common/gridItem/GridItemMaterial.vue
  projects/platform/src/components/sticker/DigitalThreadEntrance.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerCreate.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/stickerTextEditor/MentionList.vue
  projects/platform/src/components/sticker/stickerTextEditor/StickerTextEditor.vue
  projects/platform/src/components/sticker/stickerTextEditor/StickerTextViewer.vue
  projects/platform/src/components/sticker/stickerTextEditor/suggestion.js
  projects/platform/src/store/modules/sticker/index.js
Due: platform-build, platform-deploy

refactor/update-constants-file
  projects/platform/src/components/sticker/ChildStickerCard.vue
  projects/platform/src/components/sticker/DigitalThreadEntrance.vue
  projects/platform/src/components/sticker/ModalDigitalThreadSummary.vue
  projects/platform/src/components/sticker/ModalStickerDetail.vue
  projects/platform/src/components/sticker/ReceivedShareStickerDrawerForLogin.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerCreate.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/StickerLabelAddTo.vue
  projects/platform/src/components/sticker/stickerTextEditor/StickerTextEditor.vue
  projects/platform/src/composables/useWorkspace.js
  projects/platform/src/utils/remind-verify-email.js
  projects/platform/src/views/SignUp.vue
  projects/platform/src/views/innerApp/Lobby.vue
Due: platform-build, platform-deploy

feat/F22-1318-no-external-in-assets-and-workspace
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
  projects/platform/src/components/assets/ModalSmartUpload.vue
  projects/platform/src/components/sticker/StickerCreate.vue
  projects/platform/src/store/modules/polling/index.js
  projects/platform/src/views/innerApp/Lobby.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feat/update-api-interface
  pnpm-lock.yaml
  projects/platform/package.json
  projects/platform/src/apis/sticker.js
  projects/platform/src/components/assets/RowItemImg.vue
  projects/platform/src/components/common/gridItem/GridItemMaterial.vue
  projects/platform/src/components/common/gridItem/GridItemNode.vue
  projects/platform/src/components/common/material/detail/MaterialDetailExternalHeader.vue
  projects/platform/src/components/common/material/detail/MaterialDetailInternalHeader.vue
  projects/platform/src/components/moodboard/ModalMoodboardMaterialDetail.vue
  projects/platform/src/components/sticker/ChildStickerCard.vue
  projects/platform/src/components/sticker/DigitalThreadCard.vue
  projects/platform/src/components/sticker/DigitalThreadEntrance.vue
  projects/platform/src/components/sticker/ReceivedShareStickerDrawerForLogin.vue
  projects/platform/src/components/sticker/StickerCard.vue
  projects/platform/src/components/sticker/StickerCreate.vue
  projects/platform/src/components/sticker/StickerDrawer.vue
  projects/platform/src/components/sticker/stickerTextEditor/StickerTextViewer.vue
  projects/platform/src/store/modules/polling/index.js
  projects/platform/src/store/modules/sticker/index.js
  projects/platform/src/utils/constants.ts
  projects/platform/src/views/innerApp/assets/Assets.vue
  projects/platform/src/views/receivedShare/ReceivedShareContainer.vue
Due: platform-build, platform-deploy

Path conditions:
  platform-build: any of: packages/**/*, projects/platform/**/*
  platform-deploy: any of: packages/**/*, projects/platform/**/*
  storybook-build: any of: packages/ui-component/**/*
  storybook-deploy: any of: packages/ui-component/**/*
