Repository dandanXO/frontier_platform_frontend: changes, and which GitLab CI jobs are due for each by the changed paths.
All: platform-build, platform-deploy, storybook-build, storybook-deploy

.gitlab-ci.yml:

stages:
  - build
  - deploy

.platform:
  only:
    refs:
      - main
      - /^hotfix\/.*$/
      - /^release\/.*$/
      - develop
    changes:
      - packages/**/*
      - projects/platform/**/*
  before_script:
    - >
      if [[ "$CI_COMMIT_REF_NAME" == "main" ]]; then
        TARGET_ENV="production"
      elif [[ "$CI_COMMIT_REF_NAME" =~ "hotfix/" ]]; then
        TARGET_ENV="pre-production"
      elif [[ "$CI_COMMIT_REF_NAME" =~ "release/" ]]; then
        TARGET_ENV="staging"
      elif [[ "$CI_COMMIT_REF_NAME" == "develop" ]]; then
        TARGET_ENV="development"
      fi

platform-build:
  extends: .platform
  stage: build
  image: node:16.13.2
  script:
    - echo $TARGET_ENV
    - npm install -g pnpm
    - pnpm i
    - cd ./projects/platform
    - npm run build --mode=$TARGET_ENV
  artifacts:
    paths:
      - projects/platform/dist/

platform-deploy:
  extends: .platform
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  script:
    - echo $TARGET_ENV
    - cd ./projects/platform
    - bash ./scripts/deploy.sh $TARGET_ENV

storybook-build:
  stage: build
  image: node:16.13.2
  only:
    changes:
      - packages/ui-component/**/*
  script:
    - npm install -g pnpm
    - pnpm i
    - cd ./packages/ui-component
    - npm run build
  artifacts:
    paths:
      - packages/ui-component/storybook-static/

storybook-deploy:
  stage: deploy
  image: registry.gitlab.com/gitlab-org/cloud-deploy/aws-base:latest
  only:
    changes:
      - packages/ui-component/**/*
  script:
    - cd ./packages/ui-component
    - bash ./deploy.sh

hotfix/v1.6.1
  packages/ui-component/src/FInput/FInputTextButton/FInputTextButton.vue
  projects/platform/src/components/assets/progress/ProgressMaterial.vue
  projects/platform/src/components/common/material/detail/MaterialDetailPreviewImg.vue
  projects/platform/src/components/management/ModalCreateMailGroup.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

hotfix/v1.6.2
  packages/ui-component/src/FInput/FInputChips/FInputChips.vue
  projects/platform/src/apis/user.js
  projects/platform/src/components/account/ModalChangeAvatar.vue
  projects/platform/src/components/account/ModalChangePassword.vue
  projects/platform/src/components/account/ModalOrgUserProfile.vue
  projects/platform/src/components/account/ModalResetPassword.vue
  projects/platform/src/components/assets/ModalMassUpload.vue
  projects/platform/src/components/assets/ModalSmartUpload.vue
  projects/platform/src/components/assets/progress/ProgressExcel.vue
  projects/platform/src/components/common/ModalSendFeedback.vue
  projects/platform/src/components/common/ModalUploadFileGeneral.vue
  projects/platform/src/components/common/ModalUploadThumbnail.vue
  projects/platform/src/components/common/material/u3m/ModalU3mDownloadConfirm.vue
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/components/lobby/ModalCreateMailOrg.vue
  projects/platform/src/components/management/ModalCreateMailGroup.vue
  projects/platform/src/components/management/OrgAbout.vue
  projects/platform/src/components/moodboard/ModalCreateOrEditMoodboard.vue
  projects/platform/src/components/moodboard/ModalCreateOrEditMoodboardCollection.vue
  projects/platform/src/components/workspace/ModalCreateOrEditCollection.vue
  projects/platform/src/store/modules/user/index.js
  projects/platform/src/utils/fileOperator.js
  projects/platform/src/views/innerApp/assets/Assets.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

hotfix/v1.6.3
  projects/platform/src/components/assets/edit/BlockMaterialAdditionalInfo.vue
  projects/platform/src/components/assets/edit/BlockMaterialInformation.vue
  projects/platform/src/components/assets/progress/ProgressExcel.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

hotfix/v1.6.4
  projects/platform/src/components/moodboard/ModalCreateOrEditMoodboardCollection.vue
  projects/platform/src/composables/useMaterialValidation.js
Due: platform-build, platform-deploy

refactor: housekeeping
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
  packages/ui-component/src/FTabs/FTabs.vue
  pnpm-lock.yaml
  projects/platform/package-lock.json
  projects/platform/src/components/billings/ValueAddedService.vue
  projects/platform/src/components/common/filter/FilterComplete.vue
  projects/platform/src/components/common/filter/FilterMade2flow.vue
  projects/platform/src/store/reuseStates/nodeShareState.js
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

refactor: made2flow filter
  projects/platform/src/components/common/filter/FilterMade2flow.vue
  projects/platform/src/components/common/filter/FilterWrapper.vue
Due: platform-build, platform-deploy

feat: change billings page permission
  projects/platform/src/router/index.js
  projects/platform/src/utils/constants.js
  projects/platform/src/views/innerApp/Billings.vue
Due: platform-build, platform-deploy

refactor: housekeeping
  projects/platform/src/components/assets/edit/ModalChangeCover.vue
  projects/platform/src/components/common/gridItem/GridItemMaterial.vue
  projects/platform/src/components/common/modal/Modal.vue
  projects/platform/src/composables/useMaterial.js
Due: platform-build, platform-deploy

feat[F22-1033]: collection introduction layout modification
  packages/ui-component/src/FExpansionPanel/FExpansionPanel.vue
  packages/ui-component/src/FSvgIcon/icons/folder_Large.svg
  projects/platform/src/components/common/ModalCollectionDetail.vue
  projects/platform/src/components/moodboard/ModalMoodboardCollectionDetail.vue
  projects/platform/src/components/moodboard/MoodboardDetailUpperBlock.vue
  projects/platform/src/views/MoodboardReceivedShare.vue
  projects/platform/src/views/embed/Embed.vue
  projects/platform/src/views/innerApp/moodboard/Moodboard.vue
  projects/platform/src/views/receivedShare/ReceivedShareCollection.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

fix[F22-1137]: bug fix
  projects/platform/src/components/billings/ValueAddedService.vue
  projects/platform/src/components/billings/ValueAddedServiceMade2flow.vue
  projects/platform/src/components/common/material/detail/MaterialDetailEnvironmentalIndicator.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

chore: update i18n
  projects/platform/src/components/billings/ValueAddedServiceMade2flow.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

hotfix/v1.7.1
  projects/platform/src/components/billings/PlanValueAddedService.vue
  projects/platform/src/components/billings/ValueAddedService.vue
  projects/platform/src/components/common/material/detail/MaterialDetailEnvironmentalIndicator.vue
  projects/platform/src/locales/zh-TW.json
  projects/platform/src/views/embed/Embed.vue
  projects/platform/src/views/receivedShare/ReceivedShareCollection.vue
Due: platform-build, platform-deploy

hotfix/v1.7.2.1
  projects/platform/src/components/common/material/detail/MaterialDetailEnvironmentalIndicator.vue
  projects/platform/src/components/moodboard/MoodboardDetailLowerBlockProvider.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

hotfix/v1.8.1
  packages/ui-component/src/FContextualMenu/ContextualMenuNode.vue
  packages/ui-component/src/FInput/FInputRadio/FInputRadio.vue
  packages/ui-component/src/FInput/FInputRadioGroup/FInputRadioGroup.vue
  projects/platform/src/components/assets/edit/ModalEditScannedImage.vue
  projects/platform/src/components/common/ModalCollectionDetail.vue
  projects/platform/src/components/common/filter/FilterColor.vue
  projects/platform/src/components/common/filter/FilterContent.vue
  projects/platform/src/components/common/filter/FilterInventory.vue
  projects/platform/src/components/common/filter/FilterPattern.vue
  projects/platform/src/components/common/filter/FilterPrice.vue
  projects/platform/src/components/common/filter/FilterWidthWeight.vue
  projects/platform/src/components/common/filter/FilterYarnDensity.vue
  projects/platform/src/components/common/gridItem/GridItemNode.vue
  projects/platform/src/components/common/gridItem/GridItemNodeForModal.vue
  projects/platform/src/components/moodboard/ModalMoodboardCollectionDetail.vue
  projects/platform/src/components/sidebar/Sidebar.vue
  projects/platform/src/components/sidebar/SidebarItem.vue
  projects/platform/src/views/receivedShare/ReceivedShareCollection.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

hotfix/v1.8.2
  projects/3d-viewer/src/components/SliderInput.vue
  projects/platform/src/components/assets/edit/ModalEditScannedImage.vue
  projects/platform/src/components/assets/progress/ProgressU3m.vue
  projects/platform/src/components/global/ModalBehavior.vue
  projects/platform/src/views/embed/Embed.vue
Due: platform-build, platform-deploy

hotfix/v1.8.2.1
  projects/platform/src/components/assets/edit/ModalEditScannedImage.vue
Due: platform-build, platform-deploy

hotfix/v1.8.3
  projects/platform/src/components/assets/ModalSmartUpload.vue
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

hotfix/v1.8.3.1
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

hotfix/v1.8.4
  projects/platform/src/components/workspace/ModalShareAssignedList.vue
Due: platform-build, platform-deploy

fix[F22-1189]: double side material cause ripple effect
  pnpm-lock.yaml
  projects/3d-viewer/src/composables/useModels.ts
  projects/3d-viewer/src/composables/useScene.ts
  projects/3d-viewer/src/composables/useU3M.ts
  projects/platform/package.json
Due: platform-build, platform-deploy

chore(DX): volar 1.0.8 pug support
  package.json
  pnpm-lock.yaml
  projects/3d-viewer/package.json
  projects/3d-viewer/tsconfig.json
  projects/platform/jsconfig.json
Due: platform-build, platform-deploy

feature/F22-1149-icon-rename
  packages/ui-component/src/FSvgIcon/icons/file_gif.svg
  packages/ui-component/src/FSvgIcon/icons/file_mov.svg
  packages/ui-component/src/FSvgIcon/icons/file_mp4.svg
  packages/ui-component/src/FSvgIcon/icons/file_pdf.svg
  packages/ui-component/src/FSvgIcon/icons/file_zip.svg
  projects/platform/src/components/common/material/attachment/ModalPreviewAttachment.vue
Due: platform-build, platform-deploy, storybook-build, storybook-deploy

feature/F22-1081-material-simple-edit
  projects/platform/src/apis/assets.js
  projects/platform/src/components/assets/ModalEditSimpleInfo.vue
  projects/platform/src/components/assets/ModalMaterialEditSimpleInventory.vue
  projects/platform/src/components/assets/ModalMaterialEditSimplePublicPrice.vue
  projects/platform/src/components/assets/ModalMaterialEditSimpleSpec.vue
  projects/platform/src/components/assets/ModalMaterialEditSimpleTag.vue
  projects/platform/src/components/assets/RowItemContent.vue
  projects/platform/src/components/assets/SimpleInventory.vue
  projects/platform/src/components/assets/SimplePrice.vue
  projects/platform/src/components/assets/SimpleSpec.vue
  projects/platform/src/components/assets/SimpleTag.vue
  projects/platform/src/components/assets/edit/BlockMaterialInformation.vue
  projects/platform/src/components/assets/edit/BlockMaterialInventory.vue
  projects/platform/src/components/assets/edit/BlockMaterialPricing.vue
  projects/platform/src/components/common/modal/ModalPipeline.vue
  projects/platform/src/composables/useMaterialValidation.js
  projects/platform/src/store/modules/assets/index.js
  projects/platform/src/utils/constants.js
  projects/platform/src/utils/scrollTo.js
  projects/platform/src/views/innerApp/assets/AssetsMaterialCreate.vue
  projects/platform/src/views/innerApp/assets/AssetsMaterialEdit.vue
Due: platform-build, platform-deploy

build/temporarily-stop-cd
  .gitlab-ci.yml
Due: none

chore(i18n): update i18n
  projects/platform/src/locales/en-US.json
  projects/platform/src/locales/zh-TW.json
Due: platform-build, platform-deploy

build/update-new-cd-strategy
  .gitlab-ci.yml
Due: none

feature/F22-1191-made2flow-image-chinese-version
  projects/platform/src/assets/images/Made2Flow_banner.jpg
  projects/platform/src/assets/images/Made2Flow_banner_ch.jpg
  projects/platform/src/assets/images/Made2Flow_banner_en.jpg
  projects/platform/src/assets/images/Made2Flow_price.png
  projects/platform/src/assets/images/Made2Flow_price_ch.jpg
  projects/platform/src/assets/images/Made2Flow_price_en.jpg
  projects/platform/src/assets/images/Made2Flow_slide_1_ch.jpg
  projects/platform/src/assets/images/Made2Flow_slide_1_en.jpg
  projects/platform/src/assets/images/Made2Flow_slide_2_ch.jpg
  projects/platform/src/assets/images/Made2Flow_slide_2_en.jpg
  projects/platform/src/assets/images/Made2Flow_slide_3_ch.jpg
  projects/platform/src/assets/images/Made2Flow_slide_3_en.jpg
  projects/platform/src/assets/images/made2flow_2.jpg
  projects/platform/src/assets/images/made2flow_3.jpg
  projects/platform/src/components/billings/PlanValueAddedService.vue
  projects/platform/src/components/billings/ValueAddedService.vue
  projects/platform/src/components/billings/ValueAddedServiceMade2flow.vue
  projects/platform/src/components/billings/valueAddedServiceList.js
Due: platform-build, platform-deploy

optimize/F22-1179-reduce-login-waiting-time
  projects/platform/src/components/account/ModalResetPassword.vue
  projects/platform/src/composables/useNavigation.js
  projects/platform/src/router/index.js
  projects/platform/src/store/modules/user/index.js
  projects/platform/src/views/SignIn.vue
  projects/platform/src/views/SignUp.vue
Due: platform-build, platform-deploy
